.video{
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 20px;
}

.video .input{
    border: 1px solid #f44336;
    width: 500px;
    height: 42px;
    font-size: 20px;
}

.video .download-button{
    margin-left: 20px;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.video{
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 50px;
}
.visible{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

.invisible{
    display: none;
}

a:link{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }